html, .wrapper {
  overflow: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: sans-serif;
  background: white;
  overflow: hidden !important;
}
canvas, video {
  /* width: 100vw !important;
  height: calc(100vw*0.75) !important; */
  position: absolute;
  top: calc((100vh - (100vw*0.75))/2);
  left: 0vw;
  overflow:hidden;
}
video {
  visibility: hidden;
  object-fit: none !important;
  z-index: -1;
}
.behind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: blue;
  transition: opacity 0.5s ease-in;
  overflow: hidden
}
.skew {
  opacity: 0;
}
.background, .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}
.background {
  opacity: 0.8;
}
.circle {
  z-index: 1000!important;
}
/* .dna {
  filter: hue-rotate(30deg);
} */
.cell, .cells {
  transition: opacity 0.4s ease-out 0.5s;
}
.cell {
  position: absolute;
  left: 50vw;
  top: 50vh;
  /* transition: opacity 0.3s ease-in, left 0.01s linear, right 0.01s linear, width 0.01s linear; */
}
.dna {
  z-index: 100;
}
.cell.hide, .cells.hide {
  opacity: 0;
}

.instructions {
  position: absolute;
  top: 0vw;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  z-index: 1000000 !important;
  display: grid;
}
.instructions img {
  margin: auto;
}
.instructions:not(.hidden) {
  animation: showHow 5s ease-in forwards;
}
@keyframes showHow {
  0% {opacity: 0}
  10% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}
.camera {
  z-index: 10000;
  position: absolute;
  top: 20vh;
  left: 10vw;
  width: 60vw;
}
.menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2vw;
  z-index: 100000000;
}
.menu .icon {
  width: 2vw;
  height: auto;
}
.info {
  width: 100vw;
  height: 100vh;
  z-index: 1000000!important;
  background: white;
  display: grid;
  align-content: center;
}
.info img {
  padding: 0 10vw;
  z-index: 1000000!important;
  width: 80%;
  height: auto;
}

@media only screen and (min-width: 1000px) {
  .info img {
    padding: 0 20vw;
  }
}
@media only screen and (max-width: 600px) {
  .menu {
    padding: 4vw !important;
  }
  .menu img {
    width: 5vw !important;
  }
  .instructions img {
    max-width: 60vw;
  }
}
.hidden {
  display: none;
}
